:global(#app) {
  .addListButton {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: var(--radius-200);
    color: rgba(255, 255, 255, 0.72);
    cursor: pointer;
    display: block;
    fill: rgba(255, 255, 255, 0.72);
    font-weight: var(--font-weight-medium);
    height: 44px;
    padding: 12px;
    text-align: left;
    transition: background var(--transition-fast);
    width: 100%;

    &:active {
      outline: none;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.16);
    }
  }

  .addListButtonIcon {
    height: 20px;
    padding: 0.64px;
    width: 20px;
  }

  .addListButtonText {
    display: inline-block;
    font-size: var(--font-size-md);
    line-height: 20px;
    vertical-align: top;
  }

  .list {
    margin-right: 20px;
    width: var(--list-width);
  }

  .lists {
    display: inline-flex;
    height: 100%;
    min-width: 100%;
  }

  .wrapper {
    margin: 0 20px;
  }
}
