:global(#app) {
  .button {
    min-height: 30px;
    vertical-align: top;
  }

  .controls {
    margin-top: var(--space-050);
  }

  .field {
    background: var(--color-bg-card);
    border: none;
    border-radius: var(--radius-100);
    box-shadow: var(--shadow-raised);
    color: var(--color-text-primary);
    outline: none;
    overflow: hidden;
    width: 100%;

    &:focus {
      border-color: var(--color-accent-blue);
      box-shadow: 0 0 0 2px var(--color-accent-blue);
    }
  }

  .wrapper {
    background: var(--color-bg-list);
    border-radius: var(--radius-200);
    padding: var(--space-050);
    transition: opacity 40ms ease-in;
    width: var(--list-width);
  }
}
