:global(#app) {
  .contentModule {
    margin-bottom: 24px;
  }

  .loader {
    margin-top: 10px;
  }

  .moduleHeader {
    align-items: center;
    color: #172b4d;
    display: flex;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    height: 36px;
    justify-content: space-between;
    margin: 0 0 4px;
  }

  .moduleIcon {
    color: #6b808c;
    font-size: 17px;
    height: 32px;
    left: -40px;
    line-height: 32px;
    margin-right: 0;
    position: absolute;
    top: 2px;
    width: 32px;
  }

  .moduleWrapper {
    margin: 0 0 0 40px;
    position: relative;
  }

  .toggleButton {
    background: transparent;
    box-shadow: none;
    color: #8c8c8c;
    float: right;
    font-weight: normal;
    margin-right: 0;
    padding: 6px 11px;
    text-align: left;
    text-decoration: underline;
    transition: none;

    &:hover {
      background: #f5f6f7;
      color: #172b4d;
    }
  }

  .wrapper {
    margin-left: -40px;
    margin-top: 12px;
  }
}
