:global(#app) {
  .controls {
    clear: both;
    margin-top: 6px;
  }

  .field {
    background: #ffffff;
    border: 1px solid #e2e4e6;
    border-radius: var(--radius-100);
    box-sizing: border-box;
    color: #172b4d;
    display: block;
    line-height: 1.4;
    font-size: var(--font-size-md);
    margin-bottom: 4px;
    overflow: hidden;
    padding: 8px 12px;
    resize: none;
    width: 100%;

    &:focus {
      outline: none;
      border-color: #298fca;
    }
  }
}
