:global(#app) {
  .author {
    color: #172b4d;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-right: 8px;
  }

  .content {
    border-bottom: 1px solid #dfe3e6;
    display: inline-block;
    padding-bottom: 14px;
    vertical-align: top;
    width: calc(100% - 40px);
  }

  .date {
    color: #8c8c8c;
    display: inline-block;
    font-size: var(--font-size-sm);
    line-height: 20px;
  }

  .text {
    background: #f5f6f7;
    border-radius: 0px 8px 8px;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.15),
      0 0 0 1px #e2e4e6;
    box-sizing: border-box;
    color: #172b4d;
    display: inline-block;
    margin: 1px 2px 4px 1px;
    max-width: 100%;
    overflow: hidden;
    padding: 8px 12px;
  }

  .title {
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: -1em;
    background: #ffffff;
  }

  .user {
    display: inline-block;
    padding: 4px 8px 0 0;
    vertical-align: top;
  }
}
