:global(#app) {
  .controls {
    clear: both;
    margin-top: 6px;
  }

  .field {
    background: var(--color-bg-card);
    color: #172b4d;
    display: block;
    font-size: var(--font-size-md);
    line-height: 1.5;
    margin-bottom: 4px;
    overflow: hidden;
    resize: none;

    &:focus {
      outline: none;
    }
  }
}
