:global(#app) {
  .field {
    background: transparent;
    border: 1px solid transparent;
    border-radius: var(--radius-100);
    box-shadow: none;
    color: #172b4d;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: 24px;
    margin: -5px;
    overflow: hidden;
    padding: 4px;
    resize: none;
    width: 100%;

    &:focus {
      background: var(--color-bg-card);
      border-color: var(--color-accent-blue);
      box-shadow: 0 0 2px 0 var(--color-accent-blue);
      outline: 0;
    }
  }
}
