:global(#app) {
  .controls {
    clear: both;
    margin-top: 6px;
  }

  .field {
    background: #ffffff;
    border: 1px solid #e2e4e6;
    border-radius: var(--radius-100);
    color: #172b4d;
    display: block;
    line-height: 1.5;
    font-size: var(--font-size-md);
    margin-bottom: 4px;
    overflow: hidden;
    padding: 8px 12px;
    resize: none;
  }

  .wrapper {
    margin-top: 6px;
    padding-bottom: 8px;
  }
}
