:global(#app) {
  .controls {
    clear: both;
    margin-top: 6px;
  }

  .field {
    background: var(--color-bg-card);
    border: 1px solid var(--color-border-default);
    border-radius: var(--radius-100);
    box-sizing: border-box;
    color: var(--color-text-primary);
    display: block;
    font-size: var(--font-size-md);
    line-height: 1.5;
    overflow: hidden;
    padding: 8px 12px;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  .wrapper {
    padding: 9px 32px 16px 40px;
  }
}
