:global(#app) {
  .progress {
    margin: 0 0 16px;
  }

  .progressWrapper {
    display: inline-block;
    padding: 3px 0;
    vertical-align: top;
    width: calc(100% - 50px);
  }

  .count {
    color: #8c8c8c;
    display: inline-block;
    font-size: var(--font-size-md);
    line-height: 14px;
    text-align: right;
    vertical-align: top;
    width: 50px;
  }

  .taskButton {
    background: transparent;
    border: none;
    border-radius: var(--radius-100);
    color: #8c8c8c;
    cursor: pointer;
    display: block;
    margin-top: 6px;
    min-height: 54px;
    outline: none;
    padding: 8px 12px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;

    &:hover {
      background: #f5f6f7;
      color: #172b4d;
    }
  }

  .taskButtonText {
    position: absolute;
    top: 12px;
  }
}
