:global(#app) {
  .field {
    background: transparent;
    border: none;
    color: #172b4d;
    margin-bottom: 4px;
    outline: none;
    overflow: hidden;
    padding: 0;
    resize: none;
    width: 100%;
  }

  .fieldWrapper {
    background: var(--color-bg-card);
    border-radius: var(--radius-100);
    box-shadow: var(--shadow-raised);
    margin-bottom: var(--space-100);
    min-height: 20px;
    padding: 6px var(--space-100) 2px;
  }

  .submitButton {
    vertical-align: top;
  }

  .wrapper {
    padding-bottom: var(--space-100);
  }

  .wrapperClosed {
    display: none;
  }
}
