:global(#app) {
  .button {
    background: transparent;
    box-shadow: none;
    line-height: 28px;
    margin: 0;
    min-height: auto;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 28px;

    &:hover {
      background: #f5f6f7;
    }
  }

  .date {
    display: block;
    color: #8c8c8c;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .details {
    box-sizing: border-box;
    padding: 6px 32px 6px 128px;
    margin: 0;
    min-height: 80px;
  }

  .extension {
    color: #8c8c8c;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    line-height: 80px;
    overflow: hidden;
    padding: 0 20px 0 20px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 100%;
  }

  .name {
    color: #172b4d;
    font-size: var(--font-size-md);
    font-weight: bold;
    line-height: 20px;
    word-wrap: break-word;
  }

  .option {
    background: none;
    border: none;
    color: #8c8c8c;
    cursor: pointer;
    outline: none;
    padding: 0;

    &:hover {
      color: #172b4d;
    }
  }

  .optionIcon {
    margin-right: 6px;
  }

  .optionText {
    text-decoration: underline;
  }

  .options {
    display: block;
    color: #8c8c8c;
    line-height: 20px;
  }

  .thumbnail {
    background: #f5f6f7;
    border-radius: var(--radius-100);
    height: 80px;
    left: 0;
    margin-top: -40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    width: 112px;
  }

  .thumbnailLabel {
    border-color: #e2e4e6;
  }

  .wrapper {
    cursor: pointer;
    margin-bottom: 8px;
    min-height: 80px;
    position: relative;

    &:hover {
      .details {
        background: #f0f1f3;
        border-radius: var(--radius-100);
      }

      .target {
        opacity: 1;
      }
    }
  }

  .wrapperSubmitting {
    background: #f5f6f7;
  }
}
