:global(#app) {
  .menu {
    margin: -7px -12px -5px;
    width: calc(100% + 24px);
  }

  .menuItem {
    border-radius: var(--radius-100);
    margin: 0;
    padding-left: 14px;
    transition: background var(--transition-fast);
  }
}
