:global(#app) {
  .message {
    align-content: space-between;
    align-items: center;
    color: var(--color-text-inverse);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
  }

  .messageIcon {
    margin-top: -84px;
  }

  .messageTitle {
    font-size: var(--font-size-xxl);
    margin: var(--space-300) 0 var(--space-100);
  }

  .messageContent {
    font-size: 18px;
    line-height: 1.4;
    margin: var(--space-050) 0 0;
    text-align: center;
  }

  .wrapper {
    height: 100%;
    margin-top: 48px;
  }

  .wrapperBoard {
    margin-top: 172px;
  }

  .wrapperFlex {
    display: flex;
  }

  .wrapperLoader {
    position: relative;
  }

  .wrapperProject {
    margin-top: 98px;
  }
}
