:global(#app) {
  .addButton {
    background: transparent;
    box-shadow: none;
    color: var(--color-text-subtle);
    font-weight: normal;
    margin-top: 8px;
    padding: 6px 11px;
    text-align: left;
    text-decoration: underline;
    transition: background 0.3s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.08);
    }
  }

  .droppableHack {
    display: none;
    position: fixed;
  }

  .items {
    margin-top: 8px;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
    }
  }
}
